/*
omitted assets build tool (npm/brunch/postcss) for simpler process
use: https://autoprefixer.github.io/
*/


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{width:100%; height:100%; padding:0px; margin:0px}

@font-face {
    font-family: 'Druide-WideMedium';
    src:    url('fonts/Druide.woff') format('woff2'),
    url('fonts/Druide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: inherit;
    font-style: normal;
}

body {
    background-color: whitesmoke;
    font-family: "Druide-WideMedium", Helvetica, sans-serif;
    letter-spacing: 0.02em;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 1fr;
    grid-template-columns: 40% 1fr;
    grid-template-areas: "links rechts";
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 2rem;
}
main h2, main h3 {
    margin-top: 0;
}

.title {
    font-size: 2rem;
    line-height: 1.1;

}
.absolventen-header {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
}
.main-info{
    font-size: 1rem;
}

.absolventen-section {
    font-size: 2rem;
    -ms-grid-column: 2;
    grid-area: rechts;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 300px;
    line-height: 1.3;
    font-style: italic;
}

.absolventen-section ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
.absolventen-section .name-absolvent{
    text-transform: uppercase;
}

.absolventen-section .titel-arbeit {
    font-size: 0.9em;
    color: #68a1eb;
    line-height: 1.2;
    margin-left: 4rem;
}




/*
Scrolling Type in HEADER
*/


.scrolltext-header {
    height: 100vh;
    font-size: 9vh;
    width: 100vw;
    overflow: hidden;
    letter-spacing: 0.1em;
    background-image: url(bilder/hintergrund.svg);
    background-size: cover;
    background-position: 50% 100%;
}
.scrolltext-header h1, .scrolltext-header h3{
    margin: 0;
}

.scroll {
    height: 15vw;
}

/*
Footer
*/


.footer {
    font-size: 12pt;
    font-style: italic;
}
.footer2 {
    font-size: 8pt;
    font-family: Helvetica;
    color:dimgrey;
}
.footer2 summary {
    outline: none;
}
.footer2 summary::-webkit-details-marker {
    display: none
}



@media(max-width: 1000px) {
    :root {
        font-size: 0.7rem;
    }
}
@media(max-width: 700px) {
    :root {
        font-size: 0.5rem;
    }
    .grid {
        /*grid-template-columns: 100%;*/
        /*grid-template-areas: "links", "rechts";*/
    }
}